.intro{
	margin-bottom: 25px;
}


.button-img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: cover;
	padding: none; 
	border-top-left-radius: 3px;	
	border-bottom-left-radius:  3px ;
}

.box{
	padding-top: 0;
	padding-left: 0;
	padding-bottom:0;
}
.box .media-content{
	display: block;
	padding-top: 25px;
	font-weight: 500;
}

.info {
}

.data-viz{
	margin-top: 20px;
}